@model HospitalProject.Models.PatientDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this patient?</h2>
<nav>
    <ul>
        <li><a href="/Patient/Index">Cancel</a></li>
        <li><a href="/Patient/Edit/@Model.PatientID">Update</a></li>
    </ul>
</nav>
<h3>@Model.PatientName</h3>
<div>Weight: @Model.Age kg</div>
<div>Species: @Model.Sex</div>
<form action="/Patient/Delete/@Model.PatientID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>