@model HospitalProject.Models.PatientDto
@{
    ViewBag.Title = "Details";
}

<h2>Patient Details of : @Model.PatientName</h2>
<div>
    <p>@Model.PatientID</p>
    <p>@Model.Age</p>
    <a href="/PatientHistory/Details/@Model.PatientID">Details</a>
</div>

