
@model IEnumerable<HospitalProject.Models.MedicineDto>
@{
    ViewBag.Title = "New";
}
<style>
    .main {
        margin-top: 3rem;
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        border-radius: 8px;
        background: black;
        color: white;
    }

    .heading {
        background: black;
        color: white;
    }

    .button {
        background: antiquewhite;
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px;
        color: black;
    }

    .name {
        color: navajowhite;
    }
</style>
<div class="main">
    <h2>Add FAQ</h2>
    <form action="/faq/create" method="POST">

        <div>
            <label>Enter the question :</label><input type="text" name="FaqQuestion" style="color:black" />
        </div>
        <div>
            <label>Enter the answer:</label><input type="text" name="FaqAnswer" style="color:black" />
        </div>
        <label>Medicine </label>
        <select name="MedicineId" style="color:black">
            @foreach (var medicine in Model)
            {
                if (medicine != null)
                {
                    <option value="@medicine.MedicineId"> @medicine.MedicineName</option>
                }


            }
        </select>
        <div>
            <input type="submit" value="Submit" class="button" />
        </div>
    </form>

</div>