@model HospitalProject.Models.ViewModels.UpdateMedicine

@{
    ViewBag.Title = "Edit";
}
<style>
    .main {
        margin-top: 3rem;
        border: 1px solid black;
        padding: 1rem;
        text-align: center;
        border-radius: 8px;
        background: black;
        color: white;
    }

    .heading {
        background: black;
        color: white;
    }

    .button {
        background: antiquewhite;
        padding: 10px;
        border: 1px solid black;
        border-radius: 4px;
        color: black;
    }

    .name {
        color: navajowhite;
    }
</style>

<div class="main">
    <h2>Update Medicine</h2>

    <form action="/medicines/update/@Model.SelectedMedicine.MedicineId" method="post">
        <div style="display:none;">
            <input type="text" name="MedicineId" value="@Model.SelectedMedicine.MedicineId" style="color:black" />
        </div>
        <div>
            <label>Name : </label><input type="text" name="MedicineName" value="@Model.SelectedMedicine.MedicineName" style="color:black" />
        </div>
        <div>
            <label>Price : </label><input type="text" name="MedicinePrice" value="@Model.SelectedMedicine.MedicinePrice" style="color:black" />
        </div>
      
        <input type="submit" value="Update Medicine" class="button" />
    </form>
</div>